* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  transition: all 1s ease-in;
}
body {
  color: #04202b;
}
a {
  cursor: pointer;
  text-decoration: none;
  background-color: white;
}
h1 {
  font-size: 35px;
  font-weight: 600;
}

.ban-text p {
  margin: 30px 0px;
  font-weight: 600;
}
.ban-text a {
  border-radius: 20px;
  color: white;
  background-color: #fe52c2;
  padding: 10px 50px;
}
.nav,
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ban-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 180px;
  margin-top: 50px;
}
.contain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 180px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 800px;
}
.logo img {
  width: 100%;
}
.try-it {
  font-weight: 500;
  padding: 10px 40px;
  color: black;
  border-radius: 20px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.261);
}
.header {
  background-image: url(/ban.jpeg);
  width: 100%;
  height: auto;
  padding: 40px 0px;
}
.ban-img {
  width: 500px;
}
.ban-img img {
  width: 100%;
}

.contain {
  width: 88%;
  box-shadow: 0px 3px 6px 7px rgba(0, 0, 0, 0.344);
  border-radius: 10px;
  height: auto;
  /* padding: 10px; */
}
.contain h3{
  font-size: 20px;
  margin-bottom: 20px;
}
.grow {
  margin-top: 100px;
  margin-bottom: 30px;
}

.together {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grow-together-img{
  width: 500px;
}
.grow-together-img img{
  width: 100%;
}

.padding{
  padding: 30px;
}
.grow-together-cont{
  padding: 80px 80px 80px 100px;
}
.no-top{
  margin-top: 0px;
}



@media screen and (max-width: 1024px) and (min-width: 990px) {
  .nav-bar {
    gap: 500px;
  }
  .ban-contain {
    gap: 45px;
  }
  .ban-img {
    width: 380px;
  }
  .ban-text p {
    font-weight: 500;
  }
}
@media screen and (max-width: 989px) and (min-width: 769px) {
  .nav-bar {
    gap: 330px;
  }
  .logo {
    width: 200px;
  }

  .ban-contain {
    padding: 0px 30px;
    gap: 45px;
  }
  .ban-img {
    width: 380px;
  }
  .ban-text p {
    font-weight: 500;
  }
  .ban-img {
    width: 450px;
  }




  .grow-together-img {
    transform: translateX(-67px);
    width: 500px;
}
.rev .grow-together-img {
  transform: translateX(80px);
  width: 500px;
}
}
@media screen and (max-width: 768px) and (min-width: 321px) {
  h1,
  p {
    padding: 10px;
  }
  .nav-bar {
    gap: 45px;
    align-items: center;
  }
  .logo {
    width: 115px;
  }
  .try-it {
    margin-bottom: 5px;
    padding: 8px 20px;
  }
  .ban-contain {
    gap: 40px;
    flex-direction: column;
  }
  .ban-img {
    /* width: 315px; */
    width: 285px;
  }
  .ban-text a {
    display: flex;
    padding: 10px 3px;
    justify-content: center;
    margin: 0px 40px;
  }
  .ban-text h1 {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
  }
  .ban-text p {
    margin: 30px 23px;
    text-align: center;
    /* padding-right: 55px; */
    font-size: 14px;
  }




  .together{
    flex-direction: column-reverse;
  }
  .rev .together{
    flex-direction: column;
  }
  .grow-together-cont{
    padding: 30px;
  }
  .grow-together-img{
    width: 255px;
  }
  .padding{
    padding: 0px;
  }
  .contain h3{
    font-weight: 500;
  }
 .contain h3,p{
    text-align: center;
  }

}
@media screen and (max-width: 320px) {
  h1,
  p {
    padding: 10px;
  }
  .nav-bar {
    gap: 45px;
    align-items: center;
  }
  .logo {
    width: 115px;
  }
  .try-it {
    margin-bottom: 5px;
    padding: 8px 20px;
  }
  .ban-contain {
    gap: 40px;
    flex-direction: column;
  }
  .ban-img {
    /* width: 315px; */
    width: 285px;
  }
  .ban-text a {
    display: flex;
    padding: 10px 3px;
    justify-content: center;
    margin: 0px 40px;
  }
  .ban-text h1 {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
  }
  .ban-text p {
    margin: 30px 23px;
    text-align: center;
    /* padding-right: 55px; */
    font-size: 14px;
    font-weight: 400;
  }




  .together{
    flex-direction: column-reverse;
  }
  .rev .together{
    flex-direction: column;
  }
  .grow-together-cont{
    padding: 30px;
  }
  .grow-together-img{
    width: 255px;
  }
  .padding{
    padding: 0px;
  }
  .contain h3{
    font-weight: 500;
  }
 .contain h3,p{
    text-align: center;
  }
}
